.venv/
venv/
**pycache**/
*.pyc
*.pyo
*.pyd

build/
dist/
release/
*.spec
*.exe
*.dll
*.zip

runtime/*
!runtime/.gitkeep
uploads/
outputs/
temp/
tmp/

*.log
.env
config.json

node_modules/
.DS_Store

.vscode/
.idea/
